/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-weight: var(--font-weight-card-text);
  background-image: var(--page-background);
  background-attachment: fixed;
  font-variation-settings: "wght" 400;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  margin-bottom: 100px;
}

.header {
  width: var(--container-width);
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 98px;
  padding-block: clamp(7.5rem, 15vw, 8rem);
}

.border {
  border: 2px solid black;
}

.logo {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--logo-main-size);
  line-height: 1;
  font-family: var(--accent-font), monospace;
  font-weight: 400;
}

.logo-caption-text {
  display: block;
  font-size: var(--logo-caption-size);
  margin-top: 20px;
}

main {
  display: grid;
  justify-content: center;
}

.card {
  width: var(--container-width);
  background-color: white;
}

.card:not(:first-child) {
  margin-top: 50px;
}

.card-title {
  font-size: 18px;
  font-weight: var(--font-weight-card-title);
  border-bottom: 2px solid black;
  padding: 4px 10px;
  font-variation-settings: "wght" var(--font-weight-card-title);
}

.image-wrapper {
  display: flex;
  position: relative;
  width: 100%;
  margin-bottom: 23px;
  border-bottom: 2px solid black;
}

.label {
  position: absolute;
  top: 20px;
  right: 25px;
  font-family: var(--accent-font), monospace;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  z-index: 2;
  opacity: 0.5;
  text-shadow:
    -1px -1px 0 var(--label-border-color),
     1px -1px 0 var(--label-border-color),
    -1px  1px 0 var(--label-border-color),
     1px  1px 0 var(--label-border-color);
}


@supports 
  (-webkit-text-stroke: 1px black) or 
  (text-stroke: 1px black) {
  
  .label {
    text-stroke: 1px var(--label-border-color);
  }
}

.text-card {
  display: grid;
  gap:22px;
  width: calc(100% - 50px);
  margin:0 25px;
  font-size: 18px;
  line-height: 21px;
}

.card-image {
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  justify-self: right;
  align-items: center;
  margin-right: 22px;
  margin-bottom: 25px;
  margin-top: 22px;
  gap:5px
}

.card__icon-button {
  display: flex;
  background-color: initial;
  border: none;
}

.card__like-button {
  padding: 12px 35px;
  font-size: 14px;
  max-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-icon {
  width:21px;
  height: 21px;
  fill: currentColor;
}

.button-save {
  justify-self: center;
  padding:15px 20px;
  display: flex;
  margin-top: 50px;
  font-size: 14px;
  align-items: center;
  gap: 8px;
}

.dialog-window {
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(341px, 1.13vw + 336.8px, 353px);
  max-width: 90vw;
  background: white;
  flex-direction: column;
}

.dialog-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.text-icon-dialog {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 16px;
  padding: 30px 30px 20px;
}

.icon-dialog {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.text-dialog {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-family: var(--accent-font), monospace;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  text-transform: uppercase;
}

.button-dialog {
  width: 100%;
  padding: 9px 17px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
  grid-column: 1/3;
}

.filter-brightness-saturate {
  filter: brightness(1.1) saturate(1.2);
}

.filter-brightness-contrast-sepia {
  filter: brightness(0.7) contrast(1.5) sepia(30%);
}

.filter-blur-opacity {
  filter: blur(0.8px) opacity(0.9);
}

.filter-contrast-saturate {
  filter: contrast(1.4) saturate(0.7);
}

.filter-sepia-brightness {
  filter: sepia(60%) brightness(1.05);
}

.filter-hue-rotate-brightness {
  filter: hue-rotate(-20deg) brightness(1.1);
}

.filter-contrast-saturate-brightness {
  filter: contrast(1.3) saturate(1.1) brightness(0.95);
}

.filter-grayscale-sepia-brightness {
  filter: grayscale(20%) sepia(40%) brightness(0.9);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 black;
}

.button {
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  color:black;
  background: white;
  font-family: var(--accent-font), monospace;
}

.button__text, .save-icon {
  z-index: 1;
  mix-blend-mode: difference;
  color: white;
}

.button::before {
  content: "";
  background-color: #000;
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  transition:  transform 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__icon-button:focus {
  outline: none;
  transition: outline 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: 2px solid black;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill:black;
}

.like-icon:hover .main-body {
  fill:black;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill:var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill:var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: heartPulse 0.3s ease-in 0.1s 1 normal;
}

.like-icon.is-liked .sparks {
  animation: sparkFlash 0.3s ease-in 0.3s 1 normal;
}

@media (width <= 375px) {
  .button-save {
    flex-flow: column;
  }

  .image-wrapper {
    margin-bottom: 25px;
  }

  .logo {
    margin-left:16px;
    margin-right: 16px;
  }

  .save-icon {
    width:28px;
    height: 28px;
  }

  .button-dialog {
    margin: 0 auto;
    padding: 12.5px 116px;
  }

  .label {
    top:25px;
  }
}