/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-main: "Inter";
    --accent-font: 'PressStart2P';
    --font-weight-card-text: 410;
    --font-weight-card-title: 715;
    --page-background: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
    --container-width: clamp(375px, 90vw, 700px);
    --logo-main-size: clamp(49px, 12vw, 65px);
    --logo-caption-size: clamp(14px, calc(0.845vw + 10.83px), 23px);
    --text-card-width: clamp(321px, calc(30.5vw + 206px), 646px);
    --label-border-color: #fff;
    --animation-fill-color: red;
    --contour-color: black;
  }